@import 'themes';

.article {
  background: white;
}

.content {
  > h3 {
    font-style: normal;
  }

  > .button {
    background: #ffffffa0;
    background: linear-gradient(90deg, transparent 0%, #ffffff80 20%, #ffffff80 80%, transparent 100%);
    margin: 60px auto;
  }

  p {
    margin: 10px 0 0;
  }
}

.services-title {
  margin: 0 0 40px;
  font-size: 28pt;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-around;
  column-gap: 30px;
  margin: 40px 0;
  text-align: left;
  white-space: nowrap;
  list-style-type: disc;
  list-style-position: inside;
  
}

.project {
  width: 100%;
  margin: 2px 0 0;
}

.catchphrase {
  margin: 32px 0;
}

.introduction {
  margin: 40px 0;
  font-size: 16pt;
  line-height: 1.2em;
}

.values {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin: 60px 0 0;
  column-gap: 20px;
}

.value {
  margin: 0 0 40px;
  max-width: 260px;

  > h3 {
    margin: 0;
  }
}

.no-wrap {
  white-space: nowrap;
}

@include media-width(0, 600px) {
  .article {
    background: url(/img/backgrounds/white-wall-mobile.jpg) white;
    background-size: 100%;
  }

  .content {
    padding: 60px 20px;
    text-align: justify;
  }

  .services {
    display: block;
  }
    
  .services-title, .services-caption {
    text-align: center;
  }

  .catchphrase, .introduction {
    text-align: center;
  }

  .value {
    max-width: 100%;
  }
}

@include media-width(600px, 860px) {
  .article {
    background: url(/img/backgrounds/white-wall-mobile.jpg) white;
    background-size: 100%;
  }

  .content {
    padding: 60px 20px;
    text-align: center;
  }

  .services {
    grid-template-columns: repeat(2, max-content);
  }  
}

@include device(desktop) {
  .article {
    background: url(/img/backgrounds/white-wall.jpg) white;
    background-size: 100%;
  }

  .content {
    width: 820px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
  }

  .services-caption {
    margin: 0 auto;
    width: fit-content;
  }
}
