/* Reset
/* ----------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a, a:focus, a:hover, a:link, a:active, a:visited {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
}

blockquote cite a {
  font-weight: normal;
}

b,
strong {
  font-weight: bold;
}

i,
em,
dfn {
  font-style: italic;
}

h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

mark {
  background-color: #fdffb6;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 3 */
  color: inherit; /* 1 */
  font: inherit; /* 2 */
}

button {
  overflow: visible;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input:focus {
  outline: 0;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  padding: 0; /* 2 */
  border: 0; /* 1 */
}

textarea {
  overflow: auto;
  resize: vertical;
}

td,
th {
  padding: 0;
}

/* Base Styles
/* ----------------------------------- */

body {
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -moz-font-feature-settings: 'liga' on;
  font-feature-settings: 'liga' on;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  padding: 0;
  border: 0;
  margin: 1em 0;
  background-color: #cccccc;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

p,
ul,
ol,
dl,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0;
}

li {
  margin: 0;
}

dt {
  padding: 0;
  margin: 0;
}

dd {
  padding: 0;
  margin: 0;
}

blockquote {
  padding: 0 1.6em 0 1.6em;
  margin: 1.5em 0;
}

blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}

/* Quotation marks */
blockquote small::before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.15;
  text-rendering: optimizeLegibility;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  h3 {
    font-size: 1.7rem;
  }
}

h4 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
}

h5 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

h6 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.hide {
  display: none;
}
