@import 'link';

$dark-brown: #804000;
$lite-brown: #895e34;

@mixin calibri() {
  font-family: 'Calibri Light', arial, sans-serif;
}

@mixin title($color, $size, $style, $weight: inherit, $height: 1.15, $spacing: inherit, $transform: inherit) {
  @if $color != none {
    color: $color;
  }
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $height;
  text-transform: $transform;
  @content;
}

@mixin calibri-title($color: none, $size: 15pt, $weight: 600, $height: 1.15, $spacing: inherit, $transform: uppercase) {
  @include calibri;
  @include title($color, $size, normal, $weight, $height, $spacing, $transform);
  @content;
}

@mixin calibri-light-title($color: none) {
  @include calibri-title($color, 14pt, 300, $spacing: 0.15em);
  @content;
}

@mixin bodoni() {
  font-family: 'Bodoni MT', Helvetica, sans-serif;
  @content;
}

@mixin bodoni-title($color: none, $size: 20pt, $style: italic, $height: 1.15, $transform: inherit) {
  @include bodoni;
  @include title($color, $size, $style, inherit, $height, $transform: $transform);
  @content;
}

@mixin bodoni-big-title($color: none, $style: italic) {
  @include bodoni-title($color, 24pt, $style);
  @content;
}

@mixin bodoni-light-title($color: none, $transform: inherit) {
  @include bodoni-title($color, 20pt, normal, $transform: $transform);
  @content;
}

@mixin bodoni-caption($color: none) {
  @include bodoni-title($color, 18pt, italic, 1.2em);
  @content;
}

@mixin title-level-1($color: none) {
  @include bodoni-big-title($color, normal);
}

@mixin title-level-2($color: none) {
  @include bodoni-big-title($color);
}

@mixin title-level-3($color: none, $transform: inherit) {
  @include bodoni-title($color, $transform: $transform);
}

@mixin title-level-4($color: none, $transform: inherit) {
  @include bodoni-light-title($color, $transform);
}

@mixin title-level-5($color: none) {
  @include calibri-title($color);
}

@mixin title-level-6($color: none) {
  @include calibri-light-title($color);
}

@mixin input($color: none, $size: 20pt, $style: italic, $height: inherit) {
  @include bodoni-title($color, $size, $style, $height);
}

@mixin scaled-button($color) {
  display: block;
  margin: 60px auto;
  padding: 6px 40px;
  width: fit-content;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-image: linear-gradient(to right, transparent 0%, $color 20%, $color 80%, transparent 100%) 1;
  color: $color;
  font-family: 'Bodoni MT', Helvetica, sans-serif;
  font-size: 19pt;
  font-style: italic;
  font-weight: 300;
  text-align: center;

  @include link {
    color: $color;
  }

  @content;
}

@mixin scaled-link($color) {
  @include link {
    color: $color;

    @content;
  }
}

@mixin underlined-link($color) {
  @include link-pseudo-classes {
    color: $color;
    text-decoration: none;

    @content;
  }
  
  &:focus {
    text-decoration: underline $lite-brown dotted 1pt;
  } 

  &:hover {
    text-decoration: underline $lite-brown solid 1pt;
  }
}

@mixin theme($bg-color, $primary-color, $secondary-color: $primary-color) {
  color: $primary-color;
  fill: currentColor;
  stroke: currentColor;

  ::selection {
    background-color: $primary-color;
    color: $bg-color;
    fill: $bg-color;
  }

  a, button {
    @include link-pseudo-classes {
      color: $secondary-color;
    }
  }

  .caption {
    @include bodoni-caption($secondary-color)
  }

  .scaled-button {
    @include scaled-button($secondary-color);
  }

  .scaled-link {
    @include scaled-link($secondary-color);
  }

  .underlined-link {
    @include underlined-link($secondary-color);
  }

  h1, .h1 {
    @include title-level-1($secondary-color);
  }

  h2 {
    @include title-level-2($secondary-color);
  }

  h3, th {
    @include title-level-3($secondary-color);
  }

  h4 {
    @include title-level-4($secondary-color);
  }

  h5 {
    @include title-level-5($secondary-color);
  }

  h6 {
    @include title-level-6($secondary-color);
  }

  button, input[type=submit] {
    @include input($secondary-color);
  }

  @content;
}

@mixin media-width($min: 0, $max: 0) {
  @if ($min == 0) and ($max == 0) {
    @content;
  } @else if ($min == 0) {
    @media (max-width: ($max - 1px)) {
      :global(#app.responsive) {
        @content;
      }
    }
  } @else if ($max == 0) {
    :global(#app.not-responsive) {
      @content;
    }
    @media (min-width: $min) {
      :global(#app.responsive) {
        @content;
      }
    }
  } @else {
    @media (min-width: $min) and (max-width: ($max - 1px)) {
      :global(#app.responsive) {
        @content;
      }
    }
  }
}

@mixin device($type) {
  @if ($type == not-mobile) {
    @include media-width(320px) {
      @content;
    }
  } @else if ($type == mobile) {
    @include media-width(0, 320px) {
      @content;
    }
  } @else if ($type == tablet) {
    @include media-width(320px, 860px) {
      @content;
    }
  } @else if ($type == desktop) {
    @include media-width(860px) {
      @content;
    }
  } @else if ($type == not-desktop) {
    @include media-width(0, 860px) {
      @content;
    }
  }
}
