@import 'themes';

@mixin bar-loader($width, $height) {
  height: $height;
  width: $width;
  --c: linear-gradient($lite-brown 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 26% 1.5px;
  background-repeat: no-repeat;
}
