@import 'themes';

.cover-text {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0 3em 0 0;
  font-size: 40px;
  line-height: normal;

  > * {
    flex-shrink: 0;
  }
}

.cover-block {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.quote {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.text-block {
  flex-grow: 1;
}

.info {
  display: flex;
  flex-grow: 1;
  align-items: end;
  gap: 2em;
  font-size: 0.8125em;
}

.info-column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.info-cell {
  white-space: nowrap;
}
