@import 'themes';

.button {
  width: 12px;
  height: 50px;
}

.prev, .next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  grid-area: prev;
}

.slideshow {
  grid-area: slideshow;
  width: 90vw;
  height: 60vh;
}

.cover {
  display: grid;
  grid: 100% / 1fr max-content;
  overflow: hidden;
}

.cover-text-panel {
  overflow: hidden;
}

.cover-text {
  transform-origin: top left;
}

.cover-photos-container {
  display: flex;
  gap: 5px;
}

.cover-photo {
  height: 100%;
  user-select: none;
}

.slide {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: stretch;
}

.photo {
  height: 100%;
  aspect-ratio: 1029 / 1440;
  user-select: none;
}

.next {
  grid-area: next;
}

@include device(not-desktop) {
  .prev, .slideshow, .next {
    display: none;
  }
}