@import 'themes';

.article {
  background: #4c4c4c;
  background-size: cover;
}

.content {
  display: grid;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(90deg, #504745ee, #504745ee, #50474599) transparent;
  border: 1px solid #ffffffcc;
  animation: fade-in 1500ms;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0.4em 1em;
  height: 100%;
  justify-content: center;
  font-size: 0.9em;
}

.email {
  padding: 0 0 0 1.5em;
  background: transparent url('data:image/svg+xml,<svg height="1.1em" width="1.1em" viewBox="0 0 512 512" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg"><g><path d="M510.678,112.275c-2.308-11.626-7.463-22.265-14.662-31.054c-1.518-1.915-3.104-3.63-4.823-5.345c-12.755-12.818-30.657-20.814-50.214-20.814H71.021c-19.557,0-37.395,7.996-50.21,20.814c-1.715,1.715-3.301,3.43-4.823,5.345C8.785,90.009,3.63,100.649,1.386,112.275C0.464,116.762,0,121.399,0,126.087V385.92c0,9.968,2.114,19.55,5.884,28.203c3.497,8.26,8.653,15.734,14.926,22.001c1.59,1.586,3.169,3.044,4.892,4.494c12.286,10.175,28.145,16.32,45.319,16.32h369.958c17.18,0,33.108-6.145,45.323-16.384c1.718-1.386,3.305-2.844,4.891-4.43c6.27-6.267,11.425-13.741,14.994-22.001v-0.064c3.769-8.653,5.812-18.171,5.812-28.138V126.087C512,121.399,511.543,116.762,510.678,112.275z M46.509,101.571c6.345-6.338,14.866-10.175,24.512-10.175h369.958c9.646,0,18.242,3.837,24.512,10.175c1.122,1.129,2.179,2.387,3.112,3.637L274.696,274.203c-5.348,4.687-11.954,7.002-18.696,7.002c-6.674,0-13.276-2.315-18.695-7.002L43.472,105.136C44.33,103.886,45.387,102.7,46.509,101.571z M36.334,385.92V142.735L176.658,265.15L36.405,387.435C36.334,386.971,36.334,386.449,36.334,385.92z M440.979,420.597H71.021c-6.281,0-12.158-1.651-17.174-4.552l147.978-128.959l13.815,12.018c11.561,10.046,26.028,15.134,40.36,15.134c14.406,0,28.872-5.088,40.432-15.134l13.808-12.018l147.92,128.959C453.137,418.946,447.26,420.597,440.979,420.597z M475.666,385.92c0,0.529,0,1.051-0.068,1.515L335.346,265.221L475.666,142.8V385.92z" /></g></svg>') no-repeat 0 4px;
  background-position: 0 0.35em;
}

.phone {
  padding: 0 0 0 1.5em;
  background: transparent url('data:image/svg+xml,<svg width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 5.5C3 14.0604 9.93959 21 18.5 21C18.8862 21 19.2691 20.9859 19.6483 20.9581C20.0834 20.9262 20.3009 20.9103 20.499 20.7963C20.663 20.7019 20.8185 20.5345 20.9007 20.364C21 20.1582 21 19.9181 21 19.438V16.6207C21 16.2169 21 16.015 20.9335 15.842C20.8749 15.6891 20.7795 15.553 20.6559 15.4456C20.516 15.324 20.3262 15.255 19.9468 15.117L16.74 13.9509C16.2985 13.7904 16.0777 13.7101 15.8683 13.7237C15.6836 13.7357 15.5059 13.7988 15.3549 13.9058C15.1837 14.0271 15.0629 14.2285 14.8212 14.6314L14 16C11.3501 14.7999 9.2019 12.6489 8 10L9.36863 9.17882C9.77145 8.93713 9.97286 8.81628 10.0942 8.64506C10.2012 8.49408 10.2643 8.31637 10.2763 8.1317C10.2899 7.92227 10.2096 7.70153 10.0491 7.26005L8.88299 4.05321C8.745 3.67376 8.67601 3.48403 8.55442 3.3441C8.44701 3.22049 8.31089 3.12515 8.15802 3.06645C7.98496 3 7.78308 3 7.37932 3H4.56201C4.08188 3 3.84181 3 3.63598 3.09925C3.4655 3.18146 3.29814 3.33701 3.2037 3.50103C3.08968 3.69907 3.07375 3.91662 3.04189 4.35173C3.01413 4.73086 3 5.11378 3 5.5Z" /></g></svg>') no-repeat 0 4px;
  background-position: 0 0.3em;
}

.address {
  padding: 0 0 0 1.5em;
  background: transparent url('data:image/svg+xml,<svg width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd"><path d="M0,11.438 L3.938,12.906 L3.938,1.062 L0,-0.015 L0,11.438 Z" /><path d="M11.506,8.005 C10.145,8.005 9.043,9.209 9.043,10.695 C9.043,11.079 9.119,11.442 9.25,11.774 L11.514,15.926 L13.759,11.774 C13.893,11.442 13.967,11.079 13.967,10.695 C13.967,9.209 12.864,8.005 11.506,8.005 L11.506,8.005 Z M11.5220204,12.046 C10.6924286,12.046 10.021,11.3749597 10.021,10.5455314 C10.021,9.7170403 10.6914082,9.046 11.5220204,9.046 C12.3495714,9.046 13.021,9.7170403 13.021,10.5455314 C13.021,11.3749597 12.3495714,12.046 11.5220204,12.046 L11.5220204,12.046 Z" /><path d="M16,0.969 L11.031,0.041 L11.031,6.895 C11.187,6.875 11.343,6.849 11.506,6.849 C13.483,6.849 15.084,8.39 15.084,10.292 C15.084,10.784 14.976,11.248 14.783,11.674 L14.398,12.303 L16,13 L16,0.969 L16,0.969 Z" /><path d="M7.926,10.292 C7.926,8.922 8.764,7.748 9.969,7.194 L9.969,0.166 L5.031,1.062 L5.031,12.906 L8.712,12.457 L8.227,11.674 C8.035,11.248 7.926,10.784 7.926,10.292 L7.926,10.292 Z" /></g></svg>') no-repeat 0 4px;
  background-position: 0 0.35em;
}

.address-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address-line {
  line-height: 1.4em;
  text-wrap: nowrap;
}

.form {
  display: grid;
  gap: 13px;
  font-size: 13pt;
  opacity: 0;
  animation: fade-in 1500ms;
  animation-delay: 350ms;
  animation-fill-mode: forwards;

  input, input[type=submit], textarea {
    background: linear-gradient(90deg, #504745ee, #504745ee, #50474599) transparent;
    border: 1px solid #ffffffcc;
    outline: 2px solid transparent;
    outline-offset: -3px;
    transition: background-image 500ms, outline-color 500ms, opacity 500ms;

    &::placeholder {
      color: #ffffffcc;
    }

    &:disabled {
      opacity: 0.6;
    }

    &:focus, &[type=submit]:hover:not(:disabled) {
      background-image: linear-gradient(90deg, unquote($lite-brown + '66'), unquote($lite-brown + '22'));
      outline: 2px solid $lite-brown + '88';
    }

    &:-webkit-autofill {
      &, &:focus, &:hover {
        border: 1px solid #ffffffcc;
        -webkit-text-fill-color: white;
        -webkit-box-shadow: 0 0 0px 1000px #00000066 inset;
        transition: background-color 5000s ease-in-out 0s;
      }
      &:focus {
        -webkit-box-shadow: 0 0 0px 1000px unquote($lite-brown + '66') inset;
      }
    }
  }

  input {
    height: 36px;
    padding: 0 11px;
  }

  textarea {
    height: 219px;
    margin: 0 0 7px;
    padding: 5px 11px;
    resize: none;
  }

  input[type=submit] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 15pt;
    font-style: italic;
  }

  .form-error {
    background: linear-gradient(90deg, #8a4343ee, #8a4343ee, #8a434399) transparent;

    &:-webkit-autofill {
      &, &:hover {
        -webkit-box-shadow: 0 0 0px 1000px #8a4343cc inset;
      }
    }
  }
}

.prompt-box {
  padding: 6px 11px;
  font-size: 12pt;
  line-height: normal;
  background: linear-gradient(90deg, #504745ee, #504745ee, #50474599) transparent;
}

.submit-container {
  @include bodoni-title(transparent);
  position: relative;
  margin: 13px 0 0;
  padding: .16em;
  overflow: hidden;
  font-size: 15pt;
  font-style: italic;
  text-align: center;
}

.submit-animation {
  top: 0;
  right: 0;
  width: 250%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(90deg, unquote($lite-brown + '99'), unquote($lite-brown + '99') 40%, unquote($lite-brown + 'ff') 55%, unquote($lite-brown + 'ff') 59%, unquote($lite-brown + '99') 60%, unquote($lite-brown + '99'));
  opacity: 0;
  transition: opacity 500ms;
  animation: wave 2s linear;
  animation-iteration-count: infinite;
}

.sending {
  opacity: 1;
}

@keyframes wave {
  0% { right: 0; }
  100% { right: -150%; }
}

@include media-width(0, 480px) {
  .article {
    padding: 80px 0 20px;
    background: url(/img/backgrounds/wall-light-mobile.jpg) #4c4c4c;
    background-size: 100%;
  }

  .content {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .info-container {
    justify-content: start;
  }

  .form {
    grid-template-columns: 1fr;
  }
}

@include media-width(480px, 860px) {
  .article {
    padding: 80px 0 60px;
    background: url(/img/backgrounds/wall-light-mobile.jpg) #4c4c4c;
    background-size: 100%;
  }

  .content {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .info-container {
    justify-content: start;
  }
  
  .form {
    grid-template-columns: 1fr 1fr;

    .submit-container, textarea, .prompt-box {
      grid-column: span 2;
    }
  }
}

@include media-width(560px, 860px) {
  .address-link {
    flex-direction: row;
  }
  
  .address-line:not(:last-child):after {
    content: ', ';
  }
}

@include device(desktop) {
  .article {
    padding: 180px 0 60px;
    background: url(/img/backgrounds/wall-light.jpg) no-repeat #4c4c4c;
    background-size: cover;
  }

  .content {
    grid-template-columns: 283px 1fr;
    align-items: center;
    width: 820px;
  }

  .info {
    gap: 2em;
  }

  .form {
    grid-template-columns: 1fr 1fr;

    .submit-container, textarea, .prompt-box {
      grid-column: span 2;
    }
  }
}