@import 'link';

@mixin point($v, $h, $size) {
  $index: 0 !global;
  > div::after {
    #{$v}: 40%;
    #{$h}: 40%;
    border-#{$v}: none;
    border-#{$h}: none;
  }
  &:hover > div {
    @include point-arrow($v, $h, -10%, -10%, $size, 0deg);
    @include point-arrow($v, $h, 10%, -10%, $size, 90deg);
    @include point-arrow($v, $h, -10%, 10%, $size, 270deg);
    @include point-arrow($v, $h, 10%, 10%, $size, 180deg);
  }
}


@mixin point-arrow($v, $h, $x, $y, $size, $angle) {
  $index: $index + 1 !global;
  &:nth-child(#{$index}) {
    animation-name: point-#{$v}-#{$h}-#{$index};
    @keyframes point-#{$v}-#{$h}-#{$index} {
      0% { }
      100% { transform: translate($x, $y) scale($size) rotate($angle); }
    }
  }
}

.root {
  display: block;
  position: relative;
  border: 1px dotted transparent;

  @include link(1.4, rotate(0), all 250ms);

  &:hover {
    border-color: currentColor;
  }
}

.enter {
  @include point(bottom, right, 1.2);
}

.revoke {
  @include point(top, left, 0.8);
}

.arrow {
  position: absolute;
  overflow: hidden;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &::before {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 141.4%;
    top: -1px;
    border-top: 1px solid currentColor;
    transform: rotate(45deg) translate(1px, 0);
    transform-origin: top left;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid currentColor;
  }

  &:nth-child(1) {
    top: 12.5%;
    left: 12.5%;
    bottom: 57.5%;
    right: 57.5%;
  }

  &:nth-child(2) {
    top: 12.5%;
    left: 57.5%;
    bottom: 57.5%;
    right: 12.5%;
    transform: rotate(90deg);
  }

  &:nth-child(3) {
    top: 57.5%;
    left: 12.5%;
    bottom: 12.5%;
    right: 57.5%;
    transform: rotate(270deg);
  }

  &:nth-child(4) {
    top: 57.5%;
    left: 57.5%;
    bottom: 12.5%;
    right: 12.5%;
    transform: rotate(180deg);
  }
}
