:global(#app) .root {
  :global(.carousel), :global(.slider-wrapper), :global(.slider), :global(.slide) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

  :global(.slider) {
    transform: none !important;

    > :global(.slide) {
      opacity: 0;
      transition: opacity 700ms, transform 6s linear;

      &:global(.selected) {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      > div {
        width: 100%;
        height: 100%;

        > img {
          width: 33%;

          &:nth-child(2) {
            margin: 0 0.5%;
          }
        }
      }
    }
  }
}

.zoomIn {
  :global(.selected), :global(.previous) {
    transform: scale(1.2);
  }
}
