@import 'link';
@import 'themes';

.root {
  position: relative;
  height: 100dvh;
  overflow: hidden;
}

.logo {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  font-size: 22pt;
  transition: transform 750ms;
  color: #ffffff;
  fill: #ffffff;
}

.title {
  position: absolute;
  top: 12dvh;
  left: 50%;
  color: white;
  font-size: 26pt;
  transform: translateX(-50%);
  transition: opacity 750ms;
}

.down-button-container {
  position: absolute;
  padding: 0 0 2px;
  top: 100dvh;
  width: 100%;
  text-align: center;
  transition: transform 750ms;
}

.down-button {
  @include link(1.1);
}

.down-arrow {
  width: 26px;
  height: 26px;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

@include device(not-desktop) {
  .logo {
    display: none;
  }
}

@include device(desktop) {
  .title {
    display: none;
  }
}