@import 'link';
@import 'themes';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: white;
  cursor: default;
}

.content {
  font-size: 16pt;
  text-align: center;

  > h1 {
    margin: 0 0 20px;
    font-size: 24pt;
  }

  > a {
    @include underlined-link($dark-brown);
  }
}

.no-wrap {
  white-space: nowrap;
}
