@import 'link';
@import 'themes';
@import './small-nav';
@import './large-nav';
@import './nav-themes';

@include nav-solid-theme(white, $dark-brown);
@include nav-transparent-theme(transparent, white);
@include nav-menu-theme(white, $dark-brown);

.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30000;
}
