@import 'link';

.root {
  > h1 {
    font-size: 1.4em;
    font-style: normal;
  }

  > hr {
    border: none;
    background-color: transparent;
  }

  > h2 {
    font-size: 1.3em;
    font-style: normal;
  }

  > p {
    line-height: 1.2em;
    margin: 0.5em 0 0;

    > a {
      @include link-pseudo-classes {
        color: #ed143d;
        text-decoration: underline;
        text-decoration-thickness: 0.075em;
      }
    }

    > strong {
      color: #cb5067;
      font-weight: normal;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-thickness: 0.075em;
    }
  }
}
