@import 'link';
@import 'themes';

.root {
  background: white;
}

.content {
  padding: 0 20px;
  font-size: 0.9em;
  white-space: pre-wrap;

  .back-to-blog {
    @include link-pseudo-classes {
      color: #cb5067;
      font-family: "Bodoni MT", Helvetica, sans-serif;
      font-size: 1.2em;
    }
  }
}

@include device(not-desktop) {
  .root {
    padding: 120px 0 60px;
  }
}

@include device(desktop) {
  .root {
    padding: 180px 0 60px;
  }

  .content {
    width: 860px;
    margin: 0 auto;
  } 
}
